.list-header {
    font-size: 1.5em;
    margin-top: 15px;
    padding-bottom: 10px;
    vertical-align: middle;
}

.panel-heading h1 {
    font-size: 1.55em;
    color: #777;
    display: inline;
}

.panel-heading {
    padding-top: 20px;
    padding-bottom: 20px;
}

.tel-mask {
    width: 50%;
    display: inline;
}

.tel-ext {
    width: 49%;
    display: inline;
}

.tab-content {
    padding: 20px 10px 10px 10px;
    border-right: 1px solid #d3e0e9;
    border-bottom: 1px solid #d3e0e9;
    border-left: 1px solid #d3e0e9;
}

#app {
    visibility: hidden;
}

.dual-input-label {
    width:100%;
}
.dual-input-input {
    padding-left: 0;
}


